include CHANGES
include INSTALL.md
include LICENSE
include README.md

include runtests.py

include examples/2mass.tbl
include examples/3000030_1_sed.fits.gz
include examples/aj285677t3_votable.xml
include examples/catalog_1.fits.gz

recursive-include docs *
